body {
    background-color: #2281c079;
    background-image: url(../img/photo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(10px);
    height: 100vh;
}
.container {
    display: inline-block;
    width: 800px;
    margin-left: calc((100% - 800px) / 2);
    margin-top: 150px;
    position: relative;
}
.left-column {
    display: inline-block;
    width: 40%;
    float: left;
    padding: 40px;
    background-color: rgb(95, 95, 199);
    background-image: url(../img/photo.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    position: absolute;
    top: 30px;
    bottom: 30px;
}
.main-title {
display: inline-block;
width: 100%;
float: left;
}
.bottom-links {
display: inline-block;
position: absolute;
bottom: 20px;
left: 40px;
right: 20px;
}
.bottom-links > .link {
display: inline-block;
float: left;
color: white;
}
.symbol {
display: inline-block;
float: left;
margin-left: 3px;
margin-right: 3px;
}

.right-column {
    display: inline-block;
    width: 60%;
    float: right;
    background-color: white;
    padding: 60px;
    position: relative;

}
.close {
    display: inline-block;
    width: 60px;
    height: 60px;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    font-size: 35px;
    font-weight: 300;
    line-height: 54px;
    color: rgb(218, 218, 218);
}
.form {
    display: inline-block;
    width: 100%;

}
.form-row {
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;

}
.form-row:last-of-type {
    margin-bottom: 0;
}
input {
    display: inline-block;
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border: none;
    border-bottom: solid rgb(202, 202, 202) 1px;
    outline: 0;

}
label {
    display: inline-block;
    width: 100%;
    text-transform: uppercase;
    font-size: 13px;
    color: rgb(211, 211, 211);
}
.btn {
    display: inline-block;
    background-color: #1B4BD8;
    border-radius: 18px;
    padding: 8px;
    padding-left: 40px;
    padding-right: 40px;
    color: white;
    border: none;
    font-size: 18px;
    line-height: 20px;
    text-transform: capitalize;
    cursor: pointer;
    outline: 0;
    

}
.btn:hover {
    background-color: rgb(69, 132, 250);
    box-shadow: 1px 1px 5px 1px grey;

}
.text {
display: inline-block;
padding: 10px;
margin-left: 10px;
line-height: 20px;
}
.form-row > .link {
display: inline-block;
padding: 10px;
line-height: 20px;
color: blue;
text-decoration:none;
font-weight: 550;
}
.form-row > .link:hover {
    text-decoration:underline;
}